{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="ar">
<head>

    {% block static %}
            <link rel="stylesheet" href="{% static 'css/styles.css' %} ">
    {% endblock static %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الابتدائية</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="home-landing__banner__cloud"></div>

    <div class="home-landing__content">
        <div class="container">

                <div class="grade-cards">

                    <a href=/ar/eg/primary/
                       class="grade-cards__title pink">
                        <h2>
                            الابتدائية
                        </h2>
                    </a>
                    <div class="grade-cards__scroll">


                            
<div data-type="expandable" data-close="otherActive" data-expand-type="all" class="grade-card
                        pink 1">
<div class="grade-card__title">
    <a href=https://www.nagwa.com/ar/eg/primary/1/ title=الصف الأول الابتدائي>
        <div class="grade-card__number pink ">
            <span>1</span>
        </div>
        <h5>الصف الأول الابتدائي</h5>
    </a>
    <div class="expand-handle" data-expand-action="">
        <i class="f-icon chevron-down-icon"> </i>
    </div>
</div>

<div class="grade-card__content" data-expand-area="">
    <ul class="subjects-list">

            <li>
<a href="" title="اللغة العربية">

    <img loading="lazy" src="https://contents-live.nagwa.com/content/images/subjects/Arabic.png" alt="">
    اللغة العربية
</a>
</li>  
            <li>
<a href="" title="English">

    <img loading="lazy" src="https://contents-live.nagwa.com/content/images/subjects/English.png" alt="">
    English
</a>
</li>  
            <li>
<a href="" title="الرياضيات">

    <img loading="lazy" src="https://contents-live.nagwa.com/content/images/subjects/PrimaryMath.png" alt="">
    الرياضيات
</a>
</li>  


</body>
</html>