<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>الاعداديه</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">المواد الدراسية - المرحلة الاعداديه</h1>
        <ul>
            {% for grade in grades %}
                <li>{{ grade.name }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>